.search-wrapper {
  position: relative;
  width: 250px;
}

.search-icon {
  position: absolute;
  left: 10px;
  top: 50%;
  width: 18px;
  height: 18px;
  transform: translateY(-50%);
  color: #777;
}

.search-wrapper input {
  width: 100%;
  padding: 10px 12px 10px 36px;
}
